<h1 class="text-center">Login</h1>

<%= form_with url: new_session_path, class: 'w-50 mx-auto' do |form| %>
  <div class="mb-3">
    <%= form.text_field :username, placeholder: 'Username', class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Login', class: 'form-submit' %>
  </div>
<% end %>

<h1><%= t('.new_user') %></h1>
<%= link_to t('.create_account'), new_user_path %>