<%= form_with model: @user, url: :new_user do |form| %>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |error| %>
            <div class="alert alert-danger"><%= error %></div>
        <% end %>
    <% end %>

    <div class="mb-3">
        <%= form.label :username, class: 'form-label' %>
        <%= form.text_field :username, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= form.label :password, class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control' %>
    </div>

    <div>
        <%= form.submit t('.submit') %>
    </div>
<% end %>