<%= form_with model: Comment.new do |form| %>
    <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
    </div>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.submit t('.send_comment') %>
<% end %>