<%= turbo_frame_tag dom_id(comment) do %>
    <p class="comment">
        <%= comment.body %>
        <span class="comment-date"><%= comment.created_at %></span>
        <%= link_to t('.edit'), edit_comment_path(comment) %>
        <%= link_to t('.delete'), comment_path(comment), data: {turbo_method: :delete} %>
    </p>
<% end %>