<h1><%= @post.title %></h1>
<%= @post.content %>
<p><%= link_to t('.edit'), edit_post_path %></p>

<h2>Comments</h2>

<%= render "comment_form" %>

<%= turbo_frame_tag "comments" do %>
    <%= render partial: 'comment', collection: @comments %>
<% end %>