<h1><%= @post.title %></h1>
<% if current_user.eql?(@post.user) %>
  <div>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete } %>
  </div>
<% end %>

<%= simple_format @post.content %>

<h2>Comments</h2>
<h5>Add a comment</h5>
<%= form_with url: new_comment_path do |form| %>
  <div class="mb-3">
    <%= form.label :content, "#{current_user&.username}:" %>
    <%= form.text_area :content, size: "70x4", class: 'form-control w-50' %>
  </div>

  <%= form.submit "Add comment", class: 'btn btn-success btn-sm' %>
<% end %>

<%= render partial: "comment", collection: @comments %>
