<h1><%= @post.title %></h1>
<% if current_user.eql?(@post.user) %>
  <div>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete } %>
  </div>
<% end %>

<%= simple_format @post.content %>

<h5>Add a comment</h5>
<%= render partial: "new_comment" %>

<h2>Comments</h2>
<%= render partial: "comment", collection: @comments %>
