<h1><%= @post.title %></h1>

<%= simple_format @post.content %>

<% if current_user.eql?(@post.user) %>
  <div>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), data: { turbo_method: :delete } %>
  </div>
<% end %>

<%= render partial: "comment", collection: @comments %>

<%= form_with url: new_comment_path do |form| %>
  <div>
    <%= form.text_area :content %>
  </div>

  <%= form.submit "Add comment" %>
<% end %>